<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rain">
    <select id="selectdata" resultType="com.yangjiaying.pojo.Passw">
        SELECT * FROM user
    </select>
    <select id="selectzhanghu" resultType="com.yangjiaying.pojo.Passw" parameterType="java.lang.String">
        SELECT * FROM user WHERE 1=1
        <if test="_parameter != null and _parameter!='' ">
            AND zhanghu LIKE concat('%',#{zhanghu},'%')
        </if>
    </select>
    <select id="selectpingtai" resultType="com.yangjiaying.pojo.Passw" parameterType="java.lang.String">
        SELECT * FROM user WHERE 1=1
        <if test="_parameter!=null">
            AND pintai LIKE concat('%',#{pintai},'%')
        </if>
    </select>

    <insert id="insertdata" parameterType="com.yangjiaying.pojo.Passw">
         INSERT INTO user(zhanghu, mima, pintai) VALUE (#{zhanghu},#{mima},#{pintai})
    </insert>
    <delete id="delectdata" parameterType="com.yangjiaying.pojo.Passw">
        DELETE FROM user WHERE zhanghu = #{zhanghu} AND mima = #{mima}
    </delete>
    <select id="selectid" resultType="int" parameterType="java.lang.Integer">
        SELECT id FROM user limit #{id},1
    </select>
    <delete id="androiddeletedata" parameterType="java.lang.Integer">
        DELETE FROM data.user WHERE id = #{a};
    </delete>
    <select id="login" resultType="int" parameterType="com.yangjiaying.pojo.user">
        select count(*) from users where users.user = #{username} and password = #{password}
    </select>
</mapper>