<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerMapper">
    <select id="aaa" resultType="pojo.Passw">
        SELECT * FROM user
    </select>
    <select id="sousuozhanghu" resultType="pojo.Passw" parameterType="java.lang.String">
        SELECT * FROM user WHERE 1=1
        <if test="_parameter != null and _parameter!='' ">
            AND zhanghu LIKE concat('%',#{zhanghu},'%')
        </if>
    </select>
    <select id="sousuopingtai" resultType="pojo.Passw" parameterType="java.lang.String">
        SELECT * FROM user WHERE 1=1
        <if test="_parameter!=null">
            AND pintai LIKE concat('%',#{pintai},'%')
        </if>
    </select>

    <insert id="insertdata" parameterType="pojo.Passw">
         INSERT INTO user(zhanghu, mima, pintai) VALUE (#{zhanghu},#{mima},#{pintai})
    </insert>
    <delete id="deletedata" parameterType="pojo.Passw">
        DELETE FROM user WHERE zhanghu = #{zhanghu} AND mima = #{mima}
    </delete>
</mapper>