* {
    padding: 0px;
    margin: 0px;
}

.zhu {
    position: relative;
    text-align: center;
    /* background-color: aqua; */
}

.xianshi {
    padding-top: 50px;
    width: 1000px;
    margin: 0px auto;
    /* background-color: blueviolet; */
}

.navigation{
    width: 300px;
    height: 20px;
    position: relative;
    margin:0px auto;
    background-color: #ddeeff;
}
.navigation a{
    width: 30px;
    height: 20px;
    color: #ff3d5b;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}
.navigation a:visited{
    color: cornflowerblue;
}
.navigation a:hover{
    color: #ffffff;
    background-color: gray;
}
.xianshi table {
    border-collapse: collapse;
    width: 1000px;
    border: 1px solid #c6c6c6 !important;
    margin-bottom: 20px;
    table-layout: fixed;
}

.xianshi table th {
    border-collapse: collapse;
    border-right: 1px solid #c6c6c6 !important;
    border-bottom: 1px solid #c6c6c6 !important;
    background-color: #ddeeff !important;
    padding: 5px 9px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

.xianshi table td {
    word-break: break-all;
    word-wrap:break-word;
    border-collapse: collapse;
    border-right: 1px solid #c6c6c6 !important;
    border-bottom: 1px solid #c6c6c6 !important;
    padding: 5px 9px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    word-break: break-all;
}

input[type=text] {
    border-radius: 5px;

}

.xianshi tr:hover {
    background: rgba(93, 247, 20, 0.32);
}