* {
    padding: 0px;
    margin: 0px;
}
.main{
    margin: 6% auto 0px;
    width: 80%;
    height: 800px;
    /*border: 1px solid #c6c6c6;*/
    /*box-shadow:-50px 50px 30px #ccffc3;*/
}
.left{
    float: left;
    width: 30%;
    height: 100%;
    background-color: rgba(254, 67, 101,0.5);
    font-size: 20px;
    border: none;
    border-radius: 10px 0px 0px 10px;
}
.zhu {
    position: relative;
    text-align: center;
    margin-top: 60%;
    /* background-color: aqua; */
}
.zhu span{
    display: block;
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
}
.zhu a{
    padding-right: 30px;
    color: #ffffff;
}
.zhu input[type=text]{
    width: 200px;
    height: 30px;
    border: 1px solid #ffffff;
    font-size: 15px;
    color: #ffffff;
    background-color: rgba(254, 67, 101,0.5);
}
/*修改提示文字的颜色*/
.zhu input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
    color: #dad6d6af;
}
.zhu input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dad6d6af;
}
.zhu input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dad6d6af;
}
.zhu input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #dad6d6af;
}
.zhu input[type=button]{
    background: #46bdbd;
    background-image: -webkit-linear-gradient(top, #46bdbd, #408c99);
    background-image: -moz-linear-gradient(top, #46bdbd, #408c99);
    background-image: -ms-linear-gradient(top, #46bdbd, #408c99);
    background-image: -o-linear-gradient(top, #46bdbd, #408c99);
    background-image: linear-gradient(to bottom, #46bdbd, #408c99);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 0px 1px 0px #3d768a;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 30px 12px 30px;
    margin: 20px;
    border: solid #a6ceced0 1px;
    text-decoration: none;
}
.zhu input[type=button]:hover{
    color: #ffffff;
    background: #d4dad8;
    text-decoration: none;
}

.right{
    float: right;
    width:70%;
    height: 100%;
    border: none;
    background-color: rgba(249, 205, 173,0.5);
    border-radius: 0px 10px 10px 0px;
}

.right_top{
    background-color: rgba(116, 223, 223,0.5);
    border-radius: 0px 10px 10px 0px;
    width: 100%;
    height: 30%;
}

.right_top form{
    text-align: center;
    margin: 0px auto;
    width: 50%;
    height: 50%;
    padding-top: 10%;
}

.right_top form a{
    font-size: 20px;
}
.a1{
}
.a2{

}
.right_top form input[type=text]{
    width: 200px;
    height: 30px;
    border: 1px solid #8a8a8aa1;
    font-size: 15px;
    color: #ffffff;
}
.right_top form button[type=submit]{
    background: #2b91e4;
    background-image: -webkit-linear-gradient(top, #2b91e4, #408c99);
    background-image: -moz-linear-gradient(top, #2b91e4, #408c99);
    background-image: -ms-linear-gradient(top, #2b91e4, #408c99);
    background-image: -o-linear-gradient(top, #2b91e4, #408c99);
    background-image: linear-gradient(to bottom, #2b91e4, #408c99);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 0px 1px 0px #3d768a;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 8px 24px 8px 24px;
    margin: 5px;
    border: solid #a6ceced0 1px;
    text-decoration: none;
}

.right_top form select{
    width: 80px;
    height: 33px;
    background-color: #bc5ddab4;
    border-radius: 10px;
    outline:none;
    border:none;
    outline:medium;
}

.right_top form select option{
    font-size: 15px;
}

.geshu{
    height: 50px;
    width: 100%;
    padding-top: 5%;
}


.xianshi {
    padding-top: 50px;
    width: 1000px;
    margin: 0px auto;
    /* background-color: blueviolet; */
}

.navigation{
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
    /*margin:0px auto;*/
    padding-top: 2%;
}
.navigation a{
    width: 40px;
    height: 30px;
    color: #ff3d5b;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
}
.navigation a:visited{
    color: cornflowerblue;
}
.navigation a:hover{
    color: #ffffff;
}
.xianshi table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #c6c6c6 !important;
    margin-bottom: 20px;
    table-layout: fixed;
}

.xianshi table th {
    BORDER-COLLAPSE: collapse;
    border-right: 1px solid #c6c6c6 !important;
    border-bottom: 1px solid #c6c6c6 !important;
    background-color: #ddeeff !important;
    padding: 5px 9px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.xianshi tr:not(:first-child){
    background: rgba(219, 255, 170, 0.44);
}
.xianshi table td {
    word-break: break-all;
    word-wrap:break-word;
    border-collapse: collapse;
    border-right: 1px solid #c6c6c6 !important;
    border-bottom: 1px solid #c6c6c6 !important;
    padding: 5px 9px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    word-break: break-all;
}

input[type=text] {
    border-radius: 5px;

}

.xianshi tr:hover {
    background: rgba(93, 247, 20, 0.32);
}